################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BrainBuzz.web/.vs/BrainBuzz.web
/BrainBuzz.web/bin
/BrainBuzz.web/obj
/BrainBuzz.web/.vs/ProjectEvaluation
