@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<a class="nav-link active" href="#" @onclick="SetOverviewSection">
</a>
<i class="fas fa-home"></i> Overview
@code {
    private void SetOverviewSection(MouseEventArgs args)
    {
        throw new NotImplementedException();
    }
}