@inherits LayoutComponentBase


<div class="container-fluid dashboard-container">
    <div class="row flex-nowrap">
        <div class="row">
            <NavMenu></NavMenu>
            @Body
        </div>
    </div>
</div>
