@inherits LayoutComponentBase


<div class="container-fluid dashboard-container">
    <div class="row flex-nowrap">
        <div class="row">
            <!-- Sidebar -->
            <NavMenu></NavMenu>

            <!-- Main content -->
            <div class="col-md-10 col-lg-10">
                <main class="dashboard-main">
                    <div class="dashboard-content fade-in">
                        @Body
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
