<div class="col-md-2 col-lg-2">
    <div class="sidebar">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link @(selectedSection == "overview" ? "active" : "")" href="#" @onclick="SetOverviewSection">
                        <i class="fas fa-home"></i> Overview
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(selectedSection == "quizzes" ? "active" : "")" href="Quizzes" @onclick="SetQuizzesSection">
                        <i class="fas fa-question-circle"></i> Quizzes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(selectedSection == "results" ? "active" : "")" href="#" @onclick="SetResultsSection">
                        <i class="fas fa-chart-bar"></i> Results
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(selectedSection == "profile" ? "active" : "")" href="#" @onclick="SetProfileSection">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    private string selectedSection = "overview";

    private void SetOverviewSection() => selectedSection = "overview";
    private void SetQuizzesSection() => selectedSection = "quizzes";
    private void SetResultsSection() => selectedSection = "results";
    private void SetProfileSection() => selectedSection = "profile";
}