<div class="col-md-2 col-lg-2">
    <div class="sidebar">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/dashboard/overview">
                        <i class="fas fa-home"></i> Overview
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/dashboard/quizzes">
                        <i class="fas fa-question-circle"></i> Quizzes
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/dashboard/results">
                        <i class="fas fa-chart-bar"></i> Results
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/dashboard/profile">
                        <i class="fas fa-user"></i> Profile
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>